<!DOCTYPE html>
<html>
<head>
  <title>Ckeditor</title>
  <%= stylesheet_link_tag    "ckeditor/application", :media => "all" %>
  <%= javascript_include_tag "ckeditor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
